@import 'https://fonts.googleapis.com/css?family=Space+Mono:400';
body {
  background-color: #1a1a1a;
  font-family: 'Space Mono', monospace;
}
.parent {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 3em;
 }
input.search-box {
  background-color: #424242;
  border: 0.15em solid orange;
  height:2em;
  min-width:20em;
  border-radius: 0.75em;
  color:white;
  font-size:18px;
  padding:1.2em;
}
input:focus {
  outline: none;
}
button {
  height:3em;
  width:4em;
  margin-left:1.5em;
  background-color:#1a1a1a;
  color:orange;
  border:0em;
  outline:none;
}
button:focus {
  outline:none;
}
.large-icon {
  font-size: 1.75em
}
.clearfix {
  clear: both;
}
.centered {
  justify-content:center;
  align-items:center;
  padding:2em 10em 10em 10em;
 }
h3 {
  border-left: solid 3px orange;
  margin-left:5px;
  padding: 10px;
  color:white;
  font-size:35px;
}
span {
  color:white;
  font-size:18px;  
}
h4 {
  color:White;
  padding: 1em;
}
.wiki-box a:link {
  color: white;
  text-decoration: none;
  font-size:16px;
}
ul {
  list-style-type: none;
}
p {
  color: white;
  border-bottom:1px solid gray
}
li {
 border-left: 5px solid orange;
 padding:1em;
 margin-bottom:2em;
}
